.navigation {
    nav {
        ol {
            li {
                a {
                    
                    span {
                        @apply mr-2 text-sky-600;
                    }
                    &:hover {
                        @apply text-sky-600;
                    }
                    @apply py-3 px-5 font-mono text-xs transition-all ease-in-out;
                }
               
            }
        }
    }
}

.section {
    &__herobanner {
        &_content {
            transform: translateY(-50%);
        }
    }

    &__aboutus {

        &_content {
            @apply grid grid-cols-2 gap-10
        }

        &_title {

            span {
                @apply mr-3 text-xl text-sky-600 font-mono;
            }

            h2 {
                @apply font-semibold;
            }

            &::before {
                position: absolute;
                content: "";
                width: 50%;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                
                @apply border-b-2
            }
            

            @apply flex text-3xl items-center mb-7 relative; 
        }


        &_description {
            ul {
                

                li {
                    &::before {
                        content: "\25B6";

                        @apply mr-2 font-bold text-sky-600;
                    }
                }

                @apply grid grid-cols-2 gap-4 m-4 font-mono;
            }
        }


        &_image {

            img {
                filter:grayscale(100);
                transform: scale(.8);
                @apply transition-all ease-in-out;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 20px;
                left: 20px;

                
                @apply border-2 transition-all ease-in-out rounded;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: -20px;
                left: -20px;
                @apply border-2 transition-all ease-in-out rounded;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                    transform: scale(1) rotate(5deg);
                }
                &::after, &::before {
                    top: 0;
                    left: 0;

                    @apply border-sky-400;
                }
            }
            
            @apply p-5 inline-block relative rounded;
            
        } 

    }
}

.container {
    &__laptop {
        @media only screen and (min-width:1020px) {
            max-width: 1020px;
        }
    }

    &__tablet {
        @media only screen and (min-width:768px) {
            max-width: 768px;
        }
    }
}